Multiply (8kyu)

In [ ]:
def multiply(a, b):
    return a * b

Reversed Words (8kyu)

In [ ]:
def reverse_words(s):
    list=s.split()
    list.reverse()
    return ' '.join(list)

Beginner Series #1 School Paperwork (8kyu)

In [ ]:
def paperwork(n, m):
    if n<=0 or m<0:
        return 0
    else:
        return n*m

Transportation on vacation (8kyu)

In [ ]:
def rental_car_cost(days):
    d=int(days)
    cost=0
    off3_7=20
    off7_=50
    if d<3:
        cost=d*40
    if d>=3 and d<7:
        cost=d*40-off3_7
    if d>=7:
        cost=d*40-off7_
    return cost

Grasshopper - Messi goals function (8kyu)

In [ ]:
def goals(laLiga, copaDelRey, championsLeague):
    l=int(laLiga)
    c=int(copaDelRey)
    cl=int(championsLeague)
    return l+c+cl

Get Planet Name By ID (8kyu)

In [ ]:
def get_planet_name(id):
    # This doesn't work; Fix it!
    name=""
    match id:
        case 1: name = "Mercury"
        case 2: name = "Venus"
        case 3: name = "Earth"
        case 4: name = "Mars"
        case 5: name = "Jupiter"
        case 6: name = "Saturn"
        case 7: name = "Uranus"  
        case 8: name = "Neptune"
    return name

Disemvowel Trolls (7kyu)

In [ ]:
def disemvowel(string_):
    newstring=''
    for ele in string_:
      if ele in ('a','i','e','o','u','A','E','I','O','U'):
        continue
      else:
        newstring=newstring+ele
    string_=newstring
    return string_

Stanton measure (7kyu)

In [ ]:
def stanton_measure(arr):
    n=arr.count(1)
    return arr.count(n)

Remove anchor from URL (7kyu)

In [ ]:
def remove_url_anchor(url):
    return url.split('#')[0]

Factorial (7kyu)

In [ ]:
def factorial(n):
    if n<2: return 1
    else: return n*factorial(n-1)

Alphabetically ordered (7kyu)

In [ ]:
def alphabetic(s):
    lst = [s[i] for i in range(0,len(s))]
    lst.sort()
    sorteds= ''.join(lst)
    if sorteds == s:
        return True
    else:
        return False

Exes and Ohs (7kyu)

In [ ]:
def xo(s):
    x_count=0
    o_count=0
    s=s.lower()
    for char in s:
        if char == 'x':
            x_count+=1
        elif char == 'o':
            o_count +=1
    return True if x_count==o_count else False

Breaking chocolate problem (7kyu)

In [ ]:
def break_chocolate(n, m):
    if n==0 and m==0:
        return 0
    else:
        return (n*m)-1

Build a square (7kyu)

In [ ]:
def generate_shape(n):
    return '\n'.join('+' * n for _ in range(n))

Sum of two lowest positive integers (7kyu)

In [ ]:
def sum_two_smallest_numbers(num):
    num.sort()
    return (num[0]+num[1])

Numbers Which Sum of Powers of Its Digits Is The Same Number (7kyu)

In [ ]:
def eq_sum_powdig(hMax, exp):
  list=[]
  for i in range(2,hMax+1):
    i=str(i)
    sum=0
    for j in range(0,len(i)):
      a =i[j]
      a=int(a)
      sum+=a**exp
  
    #print(i,sum)
    i=int(i)
    sum=int(sum)
    if i==sum:
      list.append(i)
  return list

Sum of odd numbers (7kyu)

In [ ]:
def row_sum_odd_numbers(n):
  start_digit=(n*n)-(n-1)
  sum=start_digit
  if n == 1:
    return 1
  else:
    for i in range(0,n-1):
      start_digit=start_digit+2
      sum=sum+start_digit
  return sum

Printer Errors (7kyu)

In [ ]:
def printer_error(s):
  a=4;b=4;i=1;h=1;j=3;m=1
  total_count=a+b+i+h+j+m
  string_count=len(s)
  extra_print=string_count-total_count
  count=0
  for i in range(0,len(s)):
    if s[i] not in ('a','b','c','d','e','f','g','h','i','j','k','l','m'):
        count+=1
  return("{}/{}".format(count,string_count))

Counting Valleys (7kyu)

In [ ]:
def counting_valleys(s): 
  passcount=0
  level=0
  entry=False
  for i in range(0,len(s)):
    if s[i] == 'D':
      if level==0:
        entry= True
      level-=1
    elif s[i] == 'U':
      level+=1
      if level==0 and entry:
        entry=False
        passcount+=1
    else:
      continue
  return passcount

Delete occurrences of an element if it occurs more than n times (6kyu)

In [ ]:
def delete_nth(order, max_e):
    d = {}
    res = []
    for item in order:
      n = d.get(item, 0)
      if n < max_e:
        res.append(item)
        d[item] = n+1
    return res

Playing with digits (6kyu)

In [ ]:
def dig_pow(n, p):
    digits = [int(d) for d in str(n)]
    sum = 0
    for i, d in enumerate(digits):
        sum += d ** (p+i)
    if sum % n == 0:
        return sum / n
    else:
        return -1

Tortoise racing (6kyu)

In [ ]:
def race(v1, v2, g):
    if v2 <= v1:
        return None
    total = g / (v2 - v1)
    return [int(total), int(total * 60) % 60, int(total * 3600) % 60]

Equal Sides Of An Array (6kyu)

In [ ]:
def find_even_index(arr):
    for i in range(len(arr)):
        if sum(arr[i:]) == sum(arr[:i+1]):
           return i
    return -1

Unique In Order (6kyu)

In [ ]:
def unique_in_order(iterable):
    k = []
    for i in iterable:
        if k == []:
            k.append(i)
        elif k[-1] != i:
            k.append(i)
    return k

Find the unique number (6kyu)

In [ ]:
def find_uniq(arr):
  for i in set(arr):
    if arr.count(i) == 1: return i

Take a Ten Minutes Walk (6kyu)

In [ ]:
def isValidWalk(walk):
    if (walk.count('n') == walk.count('s') and 
        walk.count('e') == walk.count('w') and
        len(walk) == 10):
            return True
    return False

Your order, please (6kyu)

In [ ]:
def order(s):
    lst = []
    for i in range(1,10):
        for j in list(s.split()):
            if str(i) in j:
               lst.append(j)
    return " ".join(lst)

Build a pile of Cubes (6kyu)

In [ ]:
def find_nb(m):
    n = 0
    while (m > 0):
        n += 1
        m -= n**3
    return n if m == 0 else -1

Detect Pangram (6kyu)

In [ ]:
import string
def is_pangram(string):
    alphabet = 'abcdefghijklmnopqrstuvwhyz'   
    for letter in alphabet:
        if letter not in string.lower():
            return False
    return True

Number of trailing zeros of N! (5kyu)

In [ ]:
def zeros(n):
    result = 0
    while n != 0:
        result += n / 5
        n = n / 5
    return result

Josephus Survivor (5kyu)

In [ ]:
def josephus_survivor(n,k):
    arr = [i + 1 for i in range(n)]
    if len(arr) == 1:
        return arr[0]
    cur_pos = k - 1
    while len(arr) != 1:
        while cur_pos >= len(arr):
            cur_pos = cur_pos - len(arr)
        arr.pop(cur_pos)
        cur_pos += k - 1
    return arr[0]

Best travel (5kyu)

In [ ]:
from itertools import combinations
def choose_best_sum(t, k, ls):
    distance = 0
    for x in combinations(ls, k):
        if sum(x) <= t:
            distance = max(distance, sum(x))
    if distance == 0:
        return None
    return distance

Extract the domain name from a URL (5kyu)

In [ ]:
def domain_name(url):
    if 'www.' in url:
        x = url.split('www.')
        url = x[1]
    if '://' in url:
        x = url.split('://')
        url = x[1]
    if '.' in url:
        x = url.split('.')
        x = x[0]
    return x

RGB To Hex Conversion (5kyu)

In [ ]:
def rgb(r, g, b):
    def convert(x):
        if x < 0:
            x = 0
        if x >= 256:
            x = 255
        return '{0:02X}'.format(x)
    return ''.join(convert(x) for x in (r, g, b))